@font-face {
  font-family: "GothamPro";
  src: url("fonts/GothamPro.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro-Bold";
  src: url("fonts/GothamPro-Bold.woff");
  font-weight: normal;
  font-style: normal;
}
